:root{
    background: #E5E5E5;
    font-family: 'Inter';
    font-style: normal;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
.input{
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;

    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */
    vertical-align: top;
    background-color: #E5E5E5;
    border-style: none;
    color: #0A3871;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    bottom: 40px;
}
.encriptar{
    padding: 24px;
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}
.desencriptar{
    padding: 24px;
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}
#text2{
    flex: none;
    position: absolute;
    width: 400px;
    bottom: 40px;
    right: 40px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.blank{
    position: absolute;
    width: 336px;
    height: 304px;
    right: 72px;
    top: 283px;
    text-align: center;
}
.blanck .p1{  
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #342A40;

}
.blank .p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.copyright{
    color: black;
    font-size: 13px;
    margin: 20px;
    text-align: center;
    vertical-align: bottom;

}